@import "../src/themes/mixins.scss";

.jumboWrapper {
  background: white;
  min-height: 100vh;
}

.image {
  background: url("../assets/login.jpg") center no-repeat;
  height: 100vh;
  background-size: cover;
}
.formWrapper {
  @include flex-row(center, center);
  .formContainer {
    width: 70%;
  }
}
